{% extends "base.html" %}

{% block styles %}
    {{ super() }}
    <link href='http://fonts.googleapis.com/css?family=Play' rel='stylesheet' type='text/css'>
    <style type="text/css">
        #wrapper {
            margin: 30px auto 0;
            width: 900px;
            margin-bottom: 20px;
            padding: 20px;
        }
        
        #wrapper h1 {
            font-family: 'Play', sans-serif;
            margin: 0 0 20px;
            text-align: center;
            text-shadow: 3px 3px 4px grey;
        }
        
        #wrapper p {
            margin: 0 0 30px;
            text-align: center;
        }
        
        /*.container {
            background: #fff;
            box-shadow: 0 0 10px #ccc;
            margin-bottom: 20px;
            padding: 20px;
            width: 900px;
        }*/
        
        #tabs-container {
            background: #000;
            height: 400px;
            width: 900px;
        }
        
        #tabs-nav {
            float: left;
            width: 280px;
        }
        
        #tabs-nav .logo {
            float: left;
        }
        
        #tabs-nav ul {
            font-family: Garamond, Georgia;
            font-size: 1em;
            list-style: none;
        }
        
        #tabs-nav ul li {
            border-top: 1px solid #000;
            float: left;
        }
        
        #tabs-nav ul li a {
            background: url({{ url_for('static', filename='images/nav-sprite.jpg') }}) no-repeat;
            color: #999;
            display: block;
            height: 19px;
            padding: 30px;
            width: 220px;
            text-decoration: none;
            font-size: 1.25em;
            text-shadow: 1px 1px 1px #000;
            margin-bottom: 10px;
            font-family: sans-serif;
        }
        
        #tabs-nav ul li a:hover {
            background-position: 0 -79px;
            color: #fff;
        }
        
        #tabs-nav ul li a.active {
            background-position: 0 -158px;
            color: #fff;
        }
        
        #tabs-content {
            background: url({{ url_for('static', filename='images/ajax-loader.gif') }}) 50% 50% no-repeat;
            float: left;
            height: 400px;
            width: 620px;
        }
        
        #tabs-content .profile {
            display: none;
            /* hide by default */
            height: 400px;
            position: relative;
            width: 620px;
        }
        
        #tabs-content .profile .caption {
            background: url({{ url_for('static', filename='images/trans_black-50.png') }});
            padding: 30px;
            position: absolute;
            right: 0px;
            top: 0px;
            width: 220px;
        }
        
        #tabs-content .profile .caption h2, h4{
            color: #fff;
            font-family: Garamond, Georgia;
            margin: 0 0 10px;
        }
        
        #tabs-content .profile .caption p {
            color: #ccc;
            font-family: Arial;
            font-size: 1.05em;
            line-height: 1.5em;
            margin: 0;
            text-align: left;
        }

    </style>
{% endblock %}

{% block page_content %}
    <div id="wrapper">
        <h1>Famous Engineers</h1>

        <div class="container">

            <div id="tabs-container">

                <div id="tabs-nav">
                    <img src="{{ url_for('static', filename='images/eng/logo_engineers.jpg') }}" class="logo" />
                    <ul>
                        <li><a href="#" data-id="nikola-tesla" class="active">Nikola Tesla</a></li>
                        <li><a href="#" data-id="leonardo-da-vinci">Leonardo DaVinci</a></li>
                        <li><a href="#" data-id="gustave-eiffel">Gustave Eiffel</a></li>
                        <li><a href="#" data-id="john-logie-baird">John Logie Baird</a></li>
                    </ul>
                </div>
                <!--/#tabs-nav-->

                <div id="tabs-content">

                    <div class="profile" id="nikola-tesla" style="display:block;">
                        <div class="caption">
                            <h2>Nikola Tesla</h2>
                            <p>Nikola Tesla was a Serbian American inventor, electrical engineer, mechanical engineer, physicist, and futurist best known for his contributions to the design of the modern alternating current electricity supply system. </p>
                        </div>
                        <!--/.caption-->
                        <img src="{{ url_for('static', filename='images/eng/tesla.jpg') }}" />
                    </div>
                    <!--/#ned-stark-->

                    <div class="profile" id="leonardo-da-vinci">
                        <div class="caption">
                            <h2>Leonardo Da Vinci</h2>
                            <p>Leonardo da Vinci was an Italian genius, whose areas of interest included invention, painting, sculpting, architecture, science, music, mathematics, engineering, literature, anatomy, geology, astronomy, botany, writing, history, and cartography.</p>
                        </div>
                        <!--/.caption-->
                        <img src="{{ url_for('static', filename='images/eng/leonardo_da_vinci.jpg') }}" />
                    </div>
                    <!--/#jaime-lannister-->

                    <div class="profile" id="gustave-eiffel">
                        <div class="caption">
                            <h2>Gustave Eiffel</h2>
                            <p>Gustave Eiffel was a French engineer who designed and oversaw the construction of the Eiffel Tower, in Paris France, which brought him the nickname “magician of iron.” He also contributed to building the Statue of Liberty in New York</p>
                        </div>
                        <!--/.caption-->
                        <img src="{{ url_for('static', filename='images/eng/gustave_eiffel.jpg') }}" />
                    </div>
                    <!--/#rob-stark-->

                    <div class="profile" id="john-logie-baird">
                        <div class="caption">
                            <h4>John Logie Baird</h4>
                            <p>John Logie Baird was a Scottish engineer, innovator demonstrating the first working television system on 26 January 1926. He was inventor of both the first publicly demonstrated colour television system, and the first purely electronic colour television picture tube.</p>
                        </div>
                        <!--/.caption-->
                        <img src="{{ url_for('static', filename='images/eng/john_logie_baird.jpg') }}" />
                    </div>
                    <!--/#tyrion-lannister-->

                </div>
                <!--/#tabs-content-->

            </div>
            <!--/#tabs-container-->

        </div>
        <!--/.container-->
<!--        <p>Demo by <a href="http://alijafarian.com/">Ali Jafarian</a></p>-->
    </div>
    <!--/#wrapper-->
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
        $(document).ready(function() {
            // bind our function to the tabs
            $('#tabs-nav ul li a').click(function(e) {
                e.preventDefault();
                // remove the active state from all links
                $('#tabs-nav ul li a').removeClass("active");
                // add the active state to the clicked link
                $(this).addClass("active");
                // fade out the current container
                $('.profile').fadeOut(600, function() {
                    // fade in the clicked container
                    $('#' + profileID).fadeIn(600);
                });
                // define our current profile variable
                var profileID = $(this).attr("data-id");
            });
        });

    </script>
{% endblock %}